.button {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid transparent;
  background-color: initial;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 12px 24px;
  cursor: pointer;
  z-index: 0;

  &[disabled] {
    cursor: default;

    &::before {
      content: none;
    }
  }

  &--primary {
    background-color: #f5e518;
    color: #09519d;
    &[disabled] {
      background-color: #dcdcdc;
      color: #525252;
    }
  }

  &--secondary {
    background-color: #dcddde;
    color: #09519d;
    &[disabled] {
      background-color: #dcdcdc;
      color: #525252;
    }
  }
}
