table {
  width: 100%;
  border-collapse: collapse;

  th {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
  }

  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;

    .image {
      max-width: 50px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
}
