table {
  width: 100%;
  border-collapse: collapse;

  th {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
  }

  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;

    .image {
      max-width: 50px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    .empty {
      padding: 8px;
    }

    &.actions {
      display: flex;
      flex-direction: column;
      .action__item {
        padding: 4px;
      }
    }
  }
}
