/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f3f6f9;
}

.helper {
  &__error {
    color: red;
  }
}

.flex-row {
  &__container {
    display: flex;
    gap: 16px;
  }
  &__item {
    &--half {
      flex: 50%;
      margin-bottom: 16px;
    }
  }
}
